*~
*.zip
*.exe
*.png
*.jpg
*.bz2
*.rar
*.gif
*.tgz
*.gz
*.org
*.woff2

DEADJOE
demo/
/html/files/
/html/txts/
/html/google*.html
/html/missions.json
/html/dev/
/html/data/*.json
/html/fonts/
/html/current.json
